annotated-types
blis
brotlipy
catalogue
certifi 
cffi 
charset-normalizer 
click
cloudpathlib
cloudpickle
confection
contourpy
cryptography 
cycler
cymem
Farama-Notifications
fonttools
gym
gym-notices
gymnasium
hashids
jericho
Jinja2
kiwisolver
langcodes
MarkupSafe
matplotlib
mementos
more-itertools
murmurhash
networkx
numpy
packaging
Pillow
pluggy
preshed
prompt-toolkit
pycosat 
pycparser 
pydantic
pydantic_core
pyOpenSSL 
pyparsing
PySocks 
python-dateutil
requests 
ruamel.yaml 
ruamel.yaml.clib 
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
TatSu
thinc
toolz 
tqdm 
typer
typing_extensions
urllib3 
wasabi
wcwidth
weasel
zstandard 
hydra-core
gradio
transformers
accelerate
peft
openai
wandb
beautifulsoup4
sentencepiece